/**Formation Section -------------------------------------------------------------------------------------------------------------------------------**/

.formation-section {
	margin: 1em 25% 1em 25%;
	background-color: var(--bgDark);
	border-radius: 1em;
	padding: 1em 3em;
	align-items: center;
	animation: appear 1s 0s;
}
.formation-text{
	font-size: 1.5em;
}

.skills {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.skills h1 {
	font-size: 2.5em;
}

.subject-section{
	display: flex;
	flex-direction: column;
	gap: 1em;

	animation: reveal linear both;
	animation-timeline: view();
	animation-range: entry 30% cover 40%;
}

.subject-section h1 {
	text-align: center;
	font-size: 2em;
	margin: 0.5em 0em;
}

.skills-container{
	display: flex;
	flex-direction: row;
	gap: 1em;
	flex-wrap: wrap;
	padding: 1em;
	flex-basis: 3em;
}

.skill{
	font-size: 1.5em;
	background-color: var(--bgDark);
	text-align: center;
	border-radius: 0.5em;
	padding: 0.5em;
	filter: drop-shadow(0 0 20px var(--primary));
}
