:root {

	--textColor: #eaeaf4;
	--bgColor: #1e1e2a;
	--primary: #9d9dd4;
	--secondary: #2d2d71;
	--accent: #4949be;
	
	--pink: rgb(248, 129, 242);
	--orange: rgb(226, 180, 95);
	--lightOrange: rgb(255, 216, 164);
	--bgDark: rgb(0, 0, 0, 0.25);

	--colorReact: rgb(164, 164, 255);
	--colorExpress: rgb(120, 253, 123);
}



body {
	margin: 0;
	background-color: var(--bgColor);
	color: var(--textColor);
	font-family: 'Handjet', cursive;
}

/**Keyframe/Media/Others Section ----------------------------------------------------------------------------------------------------------------------**/
@keyframes shine {
	0% {color: var(--colorExpress);}
	25% {color: var(--colorReact);}
	50% {color: var(--orange)}
	75% {color: var(--pink)}
	100% {color: rgb(220, 217, 217);}
}

@keyframes fadein {
	0% { transform: scale(0,1);opacity: 0%;}
	25% { opacity: 0%;}
	100% { transform: scale(1,1); opacity: 100%;}
}

@keyframes appear {
	0% { opacity: 0%;}
	100% { opacity: 100%;}
}

@keyframes rotate {
	0% { transform: rotate(2deg);}
	100% { transform: rotate(-2deg);}
}

@keyframes reveal {
	0% { 
		opacity: 0;
		translate: 0 50px;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}

@media (max-width: 1240px) {
	main {
		margin: 0;
		padding: 0.5em;
	}
	
	.intro {
		margin-bottom: 5em;
		justify-content: center;
		align-items: center;
		padding: 3em 10em 0 10em;
	}

	.intro-container{
		flex-direction: column;
		gap: 1em;
	}

	.nav-section{
		font-size: 1rem;
	}

	.nav {
		min-width: 50vw;
	}

	.nameTitle {
		font-size: 2.1rem;
	}

	.subtitle {
		font-size: 1.5em;
	}

	.pages {
		gap: 5em;
	}

	.page{
		flex-direction: column;
		max-width: 100%;
		height: 50%;
	}

	.page-data{
		max-width: 100%;
	}
	
	.pagetitle {
		font-size: 1.5rem;
	}
	
	.pagedescription {
		font-size: 1.5rem;
	}
	
	.image-container{
		max-width: 100%;
		max-height: 50%;	
	}

	.pageimagedesk {
		width: 100%;
		height: 100%;
		object-fit:cover;
		border-radius: 1em;
	}
	
	.pagemade{
		font-size: 1rem;
	}
	
	.srclinks {
		flex-direction: row;
		gap: 3em;
	}

	.aboutnav {
		gap: 7em;
	}

	.nav-link{
		min-width: 5em;
		font-size: 0.8em;
	}
	
	.introduction {
		margin: 0 1em 1em 1em; 
		font-size: 1.5rem;;
	}

	.formation-section {
		margin: 0em 1em 1em 1em;
	}
	
	.experience-section{
		margin: 0 1em;
	}

	.experience-text {
		padding: 1em 1em;
	}

	.logo{
		width: 3em;
	}
	
	.extra-title {
		font-size: 2rem;
	}

	.cvbtn{
		text-align: center;
	}
}