:root {
	--bgColor : #2b324a;
	--textColor : #e2e4ea;
	--primary: #a2afd5;
	--secondary: #293d76;
	--accent: #3a5ecb;
}

body {
	margin: 0;
	background-color: var(--bgColor) ;
	color: var(--textColor);
	font-family: 'Handjet', cursive;
}

.intro {
	display: flex;
	flex-direction: column;
	text-align: center;
	animation: fadein 2s 0s 1;
	margin-top: 8em;
}

.nameTitle {
	font-size: 9.375rem;
	font-family: 'Borel', cursive;
	margin: 0.5em;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: cubic-bezier(.56,.17,.35,.95);
	animation-direction: alternate;
}

.nickname {
	margin: 0;
}

.subtitle {
	font-size: 3.125rem;
	margin: 0;
}

.socialslinks {
	display: flex;
	gap: 1em;
	align-items: center;
	justify-content: center;
	margin-top: 1em;
}

.sociallink {
	width: 2em;
}

.nav-section{
	display: flex;
	flex-direction: column;
	gap: 0em;
	margin-top: 3em;
}

.nav {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	gap: 1em;
	background-color: var(--secondary);
	margin: 0 auto;
	padding: 0.5em;
	border-radius: 1em;
}

/**Developer Section-------------------------------------------------------------------------------------------------------------------------------**/

.pages-section{
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-top: 10em;
}

.pages-title{
	text-align: center;

	animation: appear 5s 0s;
}

.pages {
	display: flex;
	flex-direction: column;
	animation: appear 5s 0s;
	gap: 10em;
}

.page {
	display: flex;
	flex-direction: column;
	text-align: center;

	animation: reveal linear both;
	animation-timeline: view();
	animation-range: entry 30% cover 40%;
}

.pagetitle {
	font-size: 3.125rem;
}

.pagedescription {
	font-size: 2rem;
	margin: 0;
	margin-bottom: 0.5em;
}

.pageimages {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

.pageimagedesk {
	max-width: 40em;
	border-radius: 1em;
}

.pageimagedesk:hover, .pageimagemob:hover {
	animation-name: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.pageimagemob {
	max-width: 20em;
	border-radius: 1em;
}

.logogit {
	width: 2em;
}

.logodemo {
	width: 2em;
}

.srclinks {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3em;
}

.srclink {
	display: flex;
	align-items: center;
	gap: 0.3em;
	color: inherit;
	text-decoration: none;
	animation-name: bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.footer {
	margin-top: 3em;
	background-color: #22273a;
	padding: 2em;
	text-align: center;
}

.unlink {
	color: inherit;
}

.unlinknav {
	text-decoration: none;
	color: inherit;
	padding: 0;
	margin: 0;
}

/**About me Section -------------------------------------------------------------------------------------------------------------------------------**/
.aboutnav {
	display: flex;
	justify-content: center;
	gap: 15em;
	margin-top: 1em;
}

.introduction {
	margin: 0 5em 5em 5em; 
	font-size: 1.5rem;
	background-color: var(--secondary);
	color: var(--textColor);
	padding: 1em;
	border-radius: 1em;
	animation: appear 4s 0s;
}

.shine {
	animation-name: shine;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.react {
	color: rgb(164, 164, 255);
}

.express {
	color: rgb(120, 253, 123);
}

/**Pixel Artist Section -------------------------------------------------------------------------------------------------------------------------------**/

.px-section {
	display: flex;
	flex-direction: column;
	margin-top: 10em;
	animation: appear 4s 0s;
}

.px-title {
	text-align: center;
}

.px-artcontainer{
	columns: 3;
	column-gap: 2em;
	padding: 1em;
	margin: 0 1em;
}

.px-image{
	width: 100%;
	height: auto;
	border-radius: 0.5em;
	margin-bottom: 2em;

	animation: reveal linear both;
	animation-timeline: view();
	animation-range: entry 30% cover 40%;
}

/**Keyframe/Media/Others Section ----------------------------------------------------------------------------------------------------------------------**/
@keyframes shine {
	0% {color: rgb(94, 231, 94);}
	25% {color: rgb(63, 205, 205);}
	50% {color: rgb(233, 175, 67)}
	75% {color: rgb(252, 155, 171)}
	100% {color: rgb(220, 217, 217);}
}

@keyframes fadein {
	0% {width: 0px; opacity: 0%;}
	25% { opacity: 0%;}
	100% {width: 100%; opacity: 100%;}
}

@keyframes appear {
	0% { opacity: 0%;}
	100% { opacity: 100%;}
}

@keyframes rotate {
	0% { transform: rotate(2deg);}
	100% { transform: rotate(-2deg);}
}

@keyframes bounce {
	0% {transform: translateY(10px)}
	100% { transform: translateY(0px);}
}

@keyframes reveal {
	0% { 
		opacity: 0;
		translate: 0 50px;
	}
	100% {
		opacity: 1;
		translate: 0 0;
	}
}

@media (max-width: 806px) {

	.intro {
		margin-bottom: 15em;
		margin-top: 8em;
	}

	.nameTitle {
		font-size: 2.5rem;
	}

	.subtitle {
		font-size: 1.5em;
	}

	.pageimages {
		flex-direction: column;
	}

	.pageimagedesk {
		max-width: 310px;
	}

	.aboutnav {
		gap: 7em;

	}
	
	.introduction {
		margin: 0 1em 1em 1em; 
		font-size: 1.5rem;;
	}
}